<div class="flex flex-row h-[calc(100%-10rem)] bg-battleship_gray-100 border-r border-battleship_gray-500 mt-20 mb-20">
  <div id="sidebar-masking" class="absolute transition-all duration-300 z-10 basis-1/6 min-w-64 flex-shrink-0 h-full border-r border-battleship_gray-500 bg-gradient-to-b from-black to-battleship_gray-100">
    <div id="masking-inputs" class="flex flex-col h-full"></div>
  </div>
  <div id="main-masking" class="relative transition-all duration-300 basis-full h-full bg-gradient-to-b from-black to-battleship_gray-100">
    <div class="flex justify-center items-center h-full">
      <div class="h-full">
        <canvas id="maskingCanvas" class="h-full aspect-square outline outline-1 outline-battleship_gray-200"
          height="1024" width="1024"></canvas>
      </div>
    </div>
  </div>
</div>