<!-- grid based -->

<div class="fixed bottom-0 left-0 z-50 w-full h-20 bg-smoky_black-100 border-t border-battleship_gray-500 ">
    <div class="mb-5 grid h-full max-w-lg grid-cols-5 mx-auto font-regular text-sm">
        <button id="btn-generation" type="button" class="navbar-button inline-flex flex-col items-center justify-center px-5 hover:bg-smoky_black-100 group transition-colors duration-300">
            <i id="icon-generation" class="transition ease-in-out delay-75 group-hover:-translate-y-1 group-hover:scale-110 bi bi-sliders2 w-5 h-5 mb-1 text-battleship_gray group-hover:text-white"></i>
            <span id="txt-generation" class="transition ease-in-out delay-75 group-hover:-translate-y-1 group-hover:scale-110 font-light text-battleship_gray group-hover:text-white">Terrain Generation</span>
        </button>
        <div class="flex items-center justify-center">
            <i class="bi bi-chevron-right w-5 h-5 mb-1 text-battleship_gray"></i>
        </div>
        <button id="btn-masking" type="button" class="navbar-button inline-flex flex-col items-center justify-center px-5 hover:bg-smoky_black-100 group transition-colors duration-300">
            <i id="icon-masking" class="transition ease-in-out group-hover:-translate-y-1 group-hover:scale-110 bi bi-pencil-square w-5 h-5 mb-1 text-battleship_gray group-hover:text-white"></i>
            <span id="txt-masking" class="transition ease-in-out group-hover:-translate-y-1 group-hover:scale-110 font-light text-battleship_gray group-hover:text-white">Terrain Masking</span>
        </button>
        <div class="flex items-center justify-center">
            <i class="bi bi-chevron-right w-5 h-5 mb-1 text-battleship_gray"></i>
        </div>
        <button id="btn-erosion" type="button" class="navbar-button inline-flex flex-col items-center justify-center px-5 hover:bg-smoky_black-100 group transition-colors duration-300">
            <i id="icon-erosion" class="transition ease-in-out group-hover:-translate-y-1 group-hover:scale-110 bi bi-moisture w-5 h-5 mb-1 text-battleship_gray group-hover:text-white"></i>
            <span id="txt-erosion" class="transition ease-in-out group-hover:-translate-y-1 group-hover:scale-110 font-light text-battleship_gray group-hover:text-white">Erosion Simulation</span>
        </button>
    </div>
</div>

