<nav class="fixed top-0 left-0 z-50 w-full h-20 bg-smoky_black-100 border-b border-battleship_gray-500">
    <div class="px-3 py-3 lg:px-5 lg:pl-3 flex items-center justify-between">
        <button id="toggle-side-bar" class="flex justify-start w-auto">
            <i class="transition ease-in-out bi bi-list text-2xl sm:text-3xl md:text-4xl text-gray-400 hover:text-gray-100 hover:scale-110"></i>
        </button>
        <div class="basis-1/2 text-center font-regular text-xl sm:text-2xl md:text-3xl py-4 text-gold_metallic">Hydraulic Erosion</div>
        <a href="https://github.com/metarapi" class="flex justify-end w-auto">
            <i class="transition ease-in-out bi bi-github text-2xl sm:text-3xl md:text-4xl text-gray-400 hover:text-gray-100 hover:scale-110"></i>
        </a>
    </div>
</nav>